body{
  background-color: burlywood;

}
h1{
  font-size: 70px;
  text-align: center;
  color: cornflowerblue;
}
div{
  background: pink;
  background-position: 300px 300px;
}
label{
  font-size: 30px;

}
input{
  margin: 10px;
  font-size: 20px;
}