
body{

}
#main-menu{
background-color: navy;

}
#main-menu ul{
  margin: 0;
  padding: 2px 10px;
  list-style: none;
  text-align: ;
  font-size: 20px;
}
#main-menu li{
  display: inline-block;
  position: relative;
}
#main-menu li a{
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: white;
}
#main-menu li a:hover{
 background-color:gold;
}
#main-menu ul ul{
  position: absolute;
  left: 0;
  top: 42px;
  background: skyblue;
  width: 90px;
  padding: 0;
  display: none;
  z-index: 999;
}
#main-menu ul li:hover ul{
  display: block;
}
#main-menu ul ul li{
  display: block;
}
#main-menu ul ul li a:hover{
  background-color: deeppink;
}
#main-menu ul li:hover a{
  background-color:rgb(10, 92, 139);
}
#main-menu ul li:hover li a{
background: blue;

}