div{
  background-color:aqua;
  color: cadetblue;
  padding: 20px 5%;
  width: 90%;
margin-bottom: 20px;
overflow: hidden;
}
img{
  float: inherit;
 margin-left: 15px;
  margin-bottom: 15px;
  margin: 0 auto;
  display:inline-block;
}
#nav{
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
   overflow: hidden;
   background: blue;
}
#nav li{
  float: left;
}
#nav li a{
  display: inline-block;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
}
#nav li a:hover{
  background-color: red;
}