.parant{
  margin-top: 10px;
  margin-left: 10px;
}

.child{
  background: #EA2027;
  width: 50px;
  padding-top: 10px;
  height: 38px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}
.child p{
  margin: 0;
  padding: 0;
  color: white;
}


/*
.child:first-child{
  background:#1B1464 ;
}

.child:last-child{
  background:#1B1464 ;
}

.child:nth-child(4){
  background: #F79F1F;
}

.child:nth-last-child(3){
  background: #F79F1F;
}
.child:nth-child(odd){
  background:#1B1464 ;
}*/

.child:nth-child(3n+2){
  background:#1B1464 ;
}


form{
  margin-top: 25px;
  margin-left: 10px;
}
input[type=text]{
  border: 1px solid #0652DD ;
  padding: 15px 25px;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  float: left;
}

input[type=button]{
  background: #1289A7;
  border: 1px solid #0652DD ;
  padding: 15px 25px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  display:none ;
  transition: 0.3s;
}
input:not(:placeholder-shown)+input[type='button']{
  display: block;
}
input[type=button]:hover{
  background:#F79F1F;
}