*{
  margin: 0;
  padding: 0;
}
/*
html,body{
  height: 100%;*/
html{
  height: 100%;
}
body{
 height: inherit;
}
/*
div{
  background: purple;
  color: blanchedalmond;
  width: 300px;
  margin: 10px;
  padding: 20px; s
  border: 10px solid tomato;
  float: left;
}
  */
  div{
    background: purple;
    color: blanchedalmond;
    width: 24%;
    margin: 1%;
    padding: 2%;
    border: 0.5em solid tomato;
    float: left;
  }